body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid{
    width: 720px;
    height: 720px;
    border: 5px solid;
    display: flex;
    flex-wrap: wrap;
}

.square{
   
    border: .5px solid;
    color: rgb(0, 0, 0);
}

.change{
    background-color: aquamarine;
}