body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.settings{
    display: flex;
    margin: 20px;
}

.clear {
    margin-right: 40px;
}

.createSettings{
    display: flex;
    gap: 10px;
}

.grid{
    width: 720px;
    height: 720px;
    border: 5px solid;
    display: flex;
}

.column{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.square{
    flex-grow: 1;
    border: .5px solid;
    color: rgb(0, 0, 0);
}

.change{
    background-color: rgb(157, 165, 163);
}

.error{
    color: red;
    padding: 5px;
}

.footer{
    margin: 100px;
}